{% extends 'core/base.html' %}

{% block main %}
<div class="mt-4 container">
    <h1 class="text-warning mb-5 border-bottom display-3">
        Skills
    </h1>
    <div class="row text-white">
        <div class="col-sm-5">
            <h3 class="lead mt-5">HTML/CSS</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
        </div>
        <div class="col-sm-5 offset-1">
            <h3 class="lead mt-5">Java</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
        </div>
    </div>
    <div class="row text-white">
        <div class="col-sm-5">
            <h3 class="lead mt-5">Django</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
        </div>
        <div class="col-sm-5 offset-1">
            <h3 class="lead mt-5">Data Structures and Algorithms</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
        </div>
    </div>
    <div class="row text-white">
        <div class="col-sm-5">
            <h3 class="lead mt-5">Python</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
        </div>
        <div class="col-sm-5 offset-1">
            <h3 class="lead mt-5">REST API</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
        </div>
    </div>
</div>
{% endblock main %}