{% extends 'core/base.html' %}
{% block main %}
<div class="mt-4 container">
    <h1 class="text-warning mb-5 border-bottom display-3">
        Profiles
    </h1>
    <div class="row text-white text-center mb-5">
        <div class="col-sm-4">
            <a href="https://www.facebook.com/vickyvanshaj/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-square fa-3x mb-3 i-colo"style='color: chartreuse' ></i></a>
            <h3 class="lead">Facebook</h3>
        </div>
        <div class="col-sm-4">
           <a href="https://www.instagram.com/vanshaj2311/" target="_blank" rel="noopener noreferrer"> <i class="fab fa-instagram fa-3x mb-3 i-colo"  style='color:chartreuse'></i></a>
            <h3 class="lead">Instagram</h3>
        </div>
        <div class="col-sm-4">
            <a href="https://twitter.com/Vanshajsingh0" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter-square fa-3x mb-3 i-colo" style='color:chartreuse' ></i></a>
            <h3 class="lead">Twitter</h3>
        </div>
        
    </div>
    <div class="row text-white text-center mb-5">
        <div class="col-sm-4">
            <a href="https://www.linkedin.com/in/vickyvanshaj" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin fa-3x mb-3 i-colo" style='color:chartreuse' ></i></a>
            <h3 class="lead">LinkedIn</h3>
        </div>
        <div class="col-sm-4">
            <a href="www.google.com" target="_blank" rel="noopener noreferrer"><i class="fab fa-google fa-3x mb-3 i-colo" style='color:chartreuse' ></i></a>
            <h3 class="lead">Google</h3>
        </div>
        <div class="col-sm-4">
            <a href="https://www.hackerrank.com/vickyvanshaj" target="_blank" rel="noopener noreferrer"><i class="fab fa-hackerrank fa-3x mb-3 i-colo"  style='color:chartreuse'></i></a>
            <h3 class="lead">Hackerrank</h3>
        </div>
    </div>
    <div class="row text-white text-center mb-5 i-colo">
        <div class="col-sm-4">
           <a href="https://github.com/Vickyvanshaj" target="_blank" rel="noopener noreferrer"> <i class="fab fa-github fa-3x mb-3" style='color:chartreuse' ></i></a>
            <h3 class="lead">Github </h3>
        </div>
        <div class="col-sm-4">
            <a href="https://bitbucket.org/edyst2/advanced-codes-edyst-mentor/src/master/ target="_blank" rel="noopener noreferrer"><i class="fab fa-bitbucket fa-3x mb-3 i-colo" style='color:chartreuse' ></i></a>
            <h3 class="lead">BitBucket</h3>
        </div>
        <div class="col-sm-4">
            <a href="http://" target="_blank" rel="noopener noreferrer"><i class="fab fa-whatsapp fa-3x mb-3 i-colo"  style='color:chartreuse'></i></a>
            <h3 class="lead">Whatsapp</h3>
        </div>
    </div>
</div>
{% endblock main %}